<h2><%= @articles.title %></h2>

<p>Tags:
	<% @articles.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag)%>
	<%end%>
</p>

<p>
	<% if @articles.image.exists?%>
		<%= image_tag @articles.image.url%>
	<%end%>
</p>

<p><%= @articles.body %></p>

<h3>Comments (<%=@articles.comments.size%>)</h3>

<%= render partial: "articles/comment", collection:@articles.comments%>
<%= render partial: "comments/form"%>
<%= link_to "<< Back to Articles", articles_path %>
<% if logged_in? %>
<%= link_to "Delete", @article, method: :delete, data:{confirm: "Are you sure you want to delete?"}%>
<%= link_to "Edit", edit_article_path(@articles)%>
<%end%>
